/* Header */
/* ---------------------------------- */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#flex {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
}

/* Logo */
/* ---------------------------------- */

#logo-wrapper {
    position: relative;
}

/* consistent logo/wrapper size */
#logo-wrapper, #logo, #logo-eyes {
    height: 200px;
    margin: 20px;
}

#logo, #logo-eyes {
    border-radius: 100%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

/* Search */
/* ---------------------------------- */

#searchbar, #submit-button {
    display: inline-block;
    font-size: 1.25em;
    padding: 10px 15px;
}

#searchbar {
    margin-right: -4px;
    width: 80%;
}

/* Links */
/* ---------------------------------- */

ul {
    padding: 0;
}

ul li {
    display: inline-block;
    list-style-type: none;
    margin: 1.5em;
}

.link {
    padding: 10px 25px;
    text-decoration: none;
}

.chan:hover { border-bottom: solid #789922; }
.reddit:hover { border-bottom: solid #0077D6; }
.youtube:hover { border-bottom: solid #ff0000; }
.nyaa:hover { border-bottom: solid #9400D3; }

/* Footer styles */
/* ---------------------------------- */

#footer-wrapper {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

#footer-bottom {
    text-align: end;
    width: 100%;
}

#footer-bottom > button {
    background: none;
    cursor: pointer;
    height: 45px;
    padding: 0 20px;
}

.accordian {
    display: block;
}

#warframe {
    display: none;
}

#weather {
    display: none;
}